<div class="checkout__section checkout__warehouse-address">
	<h2>{{ trans("checkout::titles.shipping_address") }}</h2>
	<div class="addresses checkout__list warehouse-location">
		<ul>
			{% for warehouse in warehouses %}
				<li>
					<label>
						<input type="radio" name="warehouse_address_id" value="{{ warehouse.id }}"  data-address="{{ warehouse.name }}, {{ warehouse.formatted }}" >
						<span><strong>{{ warehouse.name }}</strong>, {{ warehouse.formatted_alt }}</span>
					</label>
				</li>
			{% endfor %}
		</ul>
	</div>
	<p class="mt-6">{{ blocks('checkout.bonded.alternative.warehouse.message') | first | raw }}</p>
</div>


<script>
var radios = document.querySelectorAll('input[type=radio][name="warehouse_address_id"]');
radios.forEach(radio => radio.addEventListener('change', function (event) {
	document.getElementById('special_instruction').value = this.dataset.address;
}));
</script>